:root {
    --red: rgb(244, 9, 104);
    --yellow: rgb(253, 234, 46);
    --navcolor: #252020cc;
    --mainbackground: #121010cc;
    --buttonhover: #2d2929cc;
    --opacity1: 0.8;
    --opacity2: 0.6;
    --opacity3: 0.5;
    --text-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}