:root {
    --red: rgb(244, 9, 104);
    --yellow: rgb(253, 234, 46);
    --navcolorlight: #d9ddc3;
    --mainbackgroundlight: #c0ccb2;
    --buttonhoverlight: #d7dab8;

    --navcolor: #575353;
    --mainbackground: #4a4545;
    --buttonhover: #343131;
    --opacity1: 0.8;
    --opacity2: 0.6;
    --opacity3: 0.5;
    --text-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}