body {
    font-family: var(--text-font);
    background-color: var(--mainbackground) !important;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navcolor);
    color: white;
    padding: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;

}

.navbar-right {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-title {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--mainbackground);
    padding: 10px;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
}

.homebutton {
    color: white;
    text-decoration: none;
    font-style: normal;
}


.toggle-theme {
    display: flex;
    flex-direction: row;
}

.moon {
    margin-right: 5px;
}

.sun {
    margin-right: 10px
}

.toggle-switch {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 3px;
}

.toggle-input {
    display: none;
}

.toggle-label {
    display: block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-label::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease;
}




.toggle-input:checked+.toggle-label::after {
    transform: translateX(20px);
}



.dropdown-content a:hover {
    color: var(--red);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.bi:hover,
.homebutton:hover,
.dropdown-title:hover,
.nav-link:hover,
.score:hover {
    color: var(--red);
}

.user-info .nav-link:hover {
    color: var(--red);

}

.nav-link {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    margin-left: 10px;
    display: none;
}


.home {
    margin-right: 10px;
    text-decoration: none;


}

.welcome {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
    background-color: var(--mainbackground);
    color: white
}

.welcome:hover {
    color: var(--red)
}

.container-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    max-width: 960px;
    padding: 20px;
}

.login-form,
.login-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.login-image {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    opacity: var(--opacity2);
}

.login-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 50px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--buttonhover);
    backdrop-filter: blur(10px);
    color: white;
}

.login-form .login-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-content {
    display: flex;
    flex-direction: column;

}

.form-content label {
    margin-bottom: 5px;
}


.form-content .input-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.title-image {
    width: 60px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.button {
    padding: 10px;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;

}

.button:hover {
    background-color: var(--red);
    color: white;
    border-color: #2d2929cc
}

.signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signup-link a {
    display: flex;
    color: var(--red);
    text-decoration: none;


}

.signup-link a:hover {
    text-decoration: underline;

}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 10px;
}

.hamburger:hover {
    color: var(--red);
}

@media (max-width: 480px) {
    .hamburger {
        display: block;
    }

    .navbar-right {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--navcolor);
        position: absolute;
        top: 50px;
        left: 0;
    }

    .navbar-right.active {
        display: flex;
        margin-bottom: 30px;
    }

    .navbar-right .user-info {
        display: flex;
        flex-direction: column;
    }

    .container-login {
        grid-template-columns: 1fr;
        padding: 0px 70px 0px 70px;
        justify-content: center;
    }


    .login-form {
        order: -1;
    }
}