body {
    font-family: var(--text-font);
    background-color: var(--mainbackground) !important;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navcolor);
    color: white;
    padding: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0
}

.dropdown {
    position: relative;
}

.dropdown-title {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--navcolor);
    padding: 10px;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
}

.homebutton {
    color: white;
    text-decoration: none;
    font-style: normal;
}


.toggle-theme {
    display: flex;
    flex-direction: row;
}

.moon {
    margin-right: 5px;
}

.sun {
    margin-right: 10px
}

.toggle-switch {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 3px;
}

.toggle-input {
    display: none;
    /* Ascunde input-ul original */
}

.toggle-label {
    display: block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-label::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease;
}




.toggle-input:checked+.toggle-label::after {
    transform: translateX(20px);
    /* Ajustăm transformarea pentru a mișca butonul de comutare la dreapta */
}



.dropdown-content a:hover {
    color: var(--red);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.link-welcome {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}


.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    margin-left: 10px;
    margin-right: 10px;
}


.home {
    margin-right: 10px;
    text-decoration: none;


}

.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    background-color: var(--mainbackground);

}

.hero-container .hero-image {
    max-width: 40%;
    height: auto;
    width: auto;
    margin: 0 auto;
}

.hero-container .hero-text {
    text-align: center;
    color: black;
    font-family: var(--text-font);
}

.hero-text button {
    display: inline-block;
    padding: 10px 25px;
    color: black;
    text-align: center;
    cursor: pointer;
    margin-top: 25px;
    font-family: var(--text-font);
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.hero-text button:hover {
    background-color: var(--red);
    color: white;
    border-color: var(--buttonhover)
}

.bi:hover,
.homebutton:hover,
.dropdown-title:hover,
.nav-link:hover,
.score:hover {
    color: var(--red);
}

.user-info .nav-link:hover {
    color: var(--red);

}

.difficulty {
    font-family: var(--text-font);
    display: none;
}

.presentation-container {
    text-align: center;
    background-color: var(--mainbackground);
    padding-top: 50px;
    color: black;

}

p {
    color: #000000;
    margin-bottom: 20px;
}

.game-mode-container {
    display: flex;
    justify-content: space-between;
    color: black;
}

.game-mode {
    text-align: center;
    width: 30%;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;

}



.hard-game-image,
.easy-game-image,
.medium-game-image {
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.footer {
    margin-top: 20px;
    background-color: var(--navcolor);
    padding: 20px 0;
    text-align: center;
}

.social-icons a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.footer-info p {
    margin: 5px 0;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.user-info .user-welcome {
    display: flex;
    flex-direction: row;
}

@media (max-width: 480px) {
    .hamburger {
        display: block;
    }

    .navbar-right {
        display: none;
        flex-direction: column;
        width: 100%;

    }

    .navbar-right.active {
        display: flex;

    }

    .user-info .span-score,
    .user-info .user-welcome {
        display: flex;
        flex-direction: row;

    }



    .navbar-right .user-info {
        display: flex;
        flex-direction: column;

    }


}