body {
    font-family: var(--text-font);
    height: 100%;
    background-color: var(--mainbackgroundlight) !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navcolorlight);
    color: black;
    padding: 10px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;

}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown {
    position: relative;
}

.dropdown-title {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--navcolorlight);
    padding: 10px;
    top: 100%;
    left: 0;
    z-index: 1001;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
}

.homebutton {
    color: black;
    text-decoration: none;
    font-style: normal;
}

.toggle-theme {
    display: flex;
    flex-direction: row;
}

.moon {
    margin-right: 5px;
    position: relative;
    transform: translateY(20%);
}

.sun {
    position: relative;
    transform: translateY(20%);
    margin-right: 10px;
}

.toggle-switch {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 5px;
    transform: translateY(20%);
}

.toggle-label {
    display: flex;
    justify-content: space-between;
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 12px;
    position: relative;
    padding: 4px;
    transition: background-color 0.3s;
}

.toggle-input {
    display: none;
}


.toggle-label i {
    font-size: 14px;
    color: black;
    transition: opacity 0.3s;
}

.toggle-input:not(:checked)+.toggle-label .fa-moon {
    opacity: 0;
}

.toggle-input:checked+.toggle-label .fa-sun {
    opacity: 0;
}

.toggle-label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translateY(-50%);
}

.toggle-input:checked+.toggle-label:before {
    transform: translate(26px, -50%);
}


.dropdown-content a:hover {
    color: var(--yellow);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-link {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    margin-left: 10px;
    display: none;
}

.home {
    margin-right: 10px;
    text-decoration: none;
}

.bi:hover,
.homebutton:hover,
.dropdown-title:hover,
.nav-link:hover,
.score:hover {
    color: var(--yellow);
}

.user-info .nav-link:hover {
    color: var(--yellow);
}

.content {
    padding-top: 60px;
}

.quiz-card {
    background-color: var(--buttonhoverlight);
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 400px;
    transition: transform 0.3s ease;
    margin: 20px auto;
}

.quiz-button {
    display: block;
    padding: 10px 25px;
    color: black;
    text-align: center;
    cursor: pointer;
    margin: 25px auto 0;
    font-family: var(--text-font);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
}

.quiz-button:hover {
    background-color: var(--yellow);
    color: black;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: bold;
}

input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
}

#score {
    margin-top: 20px;
    font-size: 18px;
    color: black;
}

.correct-answer {
    box-shadow: green 0px 54px 55px, green 0px -12px 30px, green 0px 4px 6px, green 0px 12px 13px, green 0px -3px 5px;
    animation: correctAnimation 0.6s ease-in-out;
}

.wrong-answer {
    box-shadow: red 0px 54px 55px, red 0px -12px 30px, red 0px 4px 6px, red 0px 12px 13px, red 0px -3px 5px;
    animation: wrongAnimation 0.6s ease-in-out;
}

@keyframes correctAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes wrongAnimation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.back-button {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 64px;
    text-decoration: none;
    color: var(--yellow);
    font-weight: bold;
}

.reload-button {
    color: var(--yellow);
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    width: 60px;
    height: 60px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.reload-button:hover,
.back-button:hover {
    color: var(--yellow);
}