body {
    font-family: var(--text-font);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navcolorlight);
    color: black;
    padding: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-title {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--navcolorlight);
    padding: 10px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
}

.homebutton {
    color: black;
    text-decoration: none;
    font-style: normal;
}


.toggle-theme {
    display: flex;
    flex-direction: row;
}

.moon {
    margin-right: 5px;
}

.sun {
    margin-right: 10px
}

.toggle-switch {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 3px;
}

.toggle-input {
    display: none;
}

.toggle-label {
    display: block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-label::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease;
}




.toggle-input:checked+.toggle-label::after {
    transform: translateX(20px);
}



.dropdown-content a:hover {
    color: var(--red);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.bi:hover,
.homebutton:hover,
.dropdown-title:hover,
.nav-link:hover,
.score:hover {
    color: var(--yellow);
}

.user-info .nav-link:hover {
    color: var(--yellow);

}

.nav-link {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    margin-left: 10px;
    display: none;
}

.login-link {
    display: flex;
    flex: row;
    justify-content: space-between;
}

.home {
    margin-right: 10px;
    text-decoration: none;


}

.container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainbackgroundlight);
    height: 100vh;
    color: black
}

.signup-form .signup-title {
    text-align: center;
    margin-bottom: 20px;
}


.signup-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--buttonhoverlight);
}

.form-content {
    display: flex;
    flex-direction: column;
}

.form-content label {
    margin-bottom: 5px;
}

.form-content .input-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.button {
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    color: black;

}

.button:hover {
    background-color: var(--yellow);
}

.signup-link {
    margin-top: 20px;
}

.signup-link p {
    margin: 0;
}

.signup-link a {
    color: var(--yellow);
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navbar-right {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-right.active {
        display: flex;
    }
}